### Vagrant ###
# General
.vagrant/*

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

### OSX ###
# General
.DS_Store

# Custom from repo
data/dotfiles/tmux_resurrect.txt
